"Sysname"	"Control Channel List"	"Offset"	"NAC"	"Modulation"	"TGID Tags File"	"Whitelist"	"Blacklist"	"Center Frequency"
"Example System - Site A"	"851.0125"	"0"	"0x123"	"cqpsk"	"talkgroups_primary.tsv"	""	""	""
